# jest-md-reporter Test Results

> **Started**: Sun, 08 May 2022 08:52:33 GMT

<center>

|Suites (2)|Tests (8)|
|:-:|:-:|
|![](https://img.shields.io/badge/Passed-2-green) | ![](https://img.shields.io/badge/Passed-8-green)|
|![](https://img.shields.io/badge/Failed-0-lightgrey) | ![](https://img.shields.io/badge/Failed-0-lightgrey)|
|![](https://img.shields.io/badge/Pending-0-lightgrey) | ![](https://img.shields.io/badge/Pending-0-lightgrey)|

---

<table>
<thead>
<tr>
<th>mdGenerator.test.js</th>
<th></th>
<th></th>
<th>0.162</th>
</tr>
</thead>
<tbody>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDGenerator</strong></td>
<td><i>Creates the expected snapshot for passing test</i></td>
<td>passed</td>
<td>0.003</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDGenerator</strong></td>
<td><i>Creates the expected snapshot for failing test</i></td>
<td>passed</td>
<td>0.001</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDGenerator</strong></td>
<td><i>Creates the expected snapshot for pending test</i></td>
<td>passed</td>
<td>0.001</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th>mdReporter.test.js</th>
<th></th>
<th></th>
<th>0.103</th>
</tr>
</thead>
<tbody>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDReporter</strong></td>
<td><i>Defaults the public path if not set</i></td>
<td>passed</td>
<td>0</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDReporter</strong></td>
<td><i>Defaults the filename if not set</i></td>
<td>passed</td>
<td>0</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDReporter</strong></td>
<td><i>Creates the report dir if it doesn&#39;t already exist</i></td>
<td>passed</td>
<td>0</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDReporter</strong></td>
<td><i>Deletes the report if it already exists</i></td>
<td>passed</td>
<td>0.004</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>MDReporter</strong></td>
<td><i>Saves the report to the specified output file</i></td>
<td>passed</td>
<td>0.001</td>
</tr>
</tbody>
</table>
</center>